<app-nav-bar></app-nav-bar>
<app-ani-text></app-ani-text>
<app-infiscroll></app-infiscroll>
<section class="p-4 sm:p-2 lg:px-64">
    <div class="container">
        <iframe id="discord" height="500px" width="100%" src="https://discordapp.com/widget?id=515165357812613140&theme=dark " allowtransparency="true " frameborder="0 "></iframe>
    </div>
</section>
<footer class="container flex flex-col justify-end text-center text-slate-300">
    <p style="width: 90%;margin:0 auto" class="border-t-2 p-3">BlazingBane 🔥2024</p>
</footer>