<nav class="flex flex-row items-center justify-center p-4">
  <div class="container border-white-100 " id="navi">
    <div class="col-md-4 hidden md:block lg:block -mt-4">
      <p><i>"Planning to do something? Do it now!"</i></p>
    </div>
    <div class="col-md-4" style="height: inherit">
      <img style="height: 80%;margin: 0 auto;" src="https://raw.githubusercontent.com/shivardev/staticBB/main/Public/image/logo.ico"
        alt="BlazinBane Logo" />
    </div>
    <div class="col-md-4 -mt-4">
      <p><i>"Always stay creative"</i></p>
    </div>
  </div>
</nav>