<!-- <section class="min-h-min flex flex-col align-middle justify-center">
    <div id="textbox">
      <span
        id="text1"
      ></span>
      <span
        id="text2"
      ></span>

      <svg id="filters">
        <defs>
          <filter id="threshold">
            <feColorMatrix
              in="SourceGraphic"
              type="matrix"
              values="1 0 0 0 0
                          0 1 0 0 0
                          0 0 1 0 0
                          0 0 0 255 -140"
            />
          </filter>
        </defs>
      </svg>
    </div>
  </section> -->
<section class="flex flex-col items-center">
  <div class="h-52 md:h-64 text-white flex flex-row items-end lg:items-end justify-center p-2">
    <h1 class="text-5xl md:text-6xl lg:text-8xl text-center font-serif font-medium tracking-wide">Blazing Bane<span
        id="dot">.</span></h1>
  </div>
  <div style="max-width: 500px" class="text-center text-slate-300 my-3 px-4 md:px-0 lg:px-0">
    A page for all my activites on internet starting from streaming, blogging, coding and Memes!.
  </div>

  <hr style="
    margin-top: 40px;
  display: block;
  border-radius: 1000px;
  width:70px;
  color: white;
  border-width: 1px;
    ">
</section>